
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.hero img{
    clip-path: circle();
    margin-top: 1.5em;
}
/* .hero h1 span{
    text-align: center;
    width:70%;
    font-size:75px;
    font-weight: 600;
    color: #61677A;

} */
.hero h1 span {
     /* Required for the gradient to apply correctly */
    text-align: center;
    width: 70%;
    font-size: 75px;
    font-weight: 600;
    color: transparent; /* Make the text color transparent to show the gradient */
    background: linear-gradient(to right, #5c5c5c, #3F2305); /* Adjust gradient colors as needed */
    -webkit-background-clip: text; /* Required for gradient text on WebKit browsers */
    background-clip: text; /* Standard property */
}
.hero p{
    width: 50%;
    color: #3F2305;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 20px 40px;
    color: #F2EAD3;
    border-radius: 40px;
    background: linear-gradient(264deg, #726e60, #3F2305);
    cursor: pointer;
}
.hero-resume{
    padding: 18px 60px;
    border: 2px solid #3F2305;
    border-radius: 40px;
    cursor: pointer;
}
.hero-connect:hover{
    border: 1px solid #3F2305;
}
.hero-resume:hover{
    border:3px solid #3F2305;
    font-weight: 550;
}
