* {
    /* font-family: "Playfair Display", serif; */
    font-size: 24px;
  }
  
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
    color: #000000;
    margin: 80px 170px;
  }
  
  .services-title {
    position: relative;
  }
  
  .services-title h1 {
    font-size: 50px;
    display: flex;
    color: #000000;
    /* font-family: fantasy; */
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    margin-top: 20px;
  }
  
  .services-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #000000 1px solid;
    gap: 20px;
    padding: 50px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #F9F9F9;
  }
  
  .service-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
  }
  
  .services-format h3 {
    font-size: 28px;
    font-weight: 600;
  }
  
  .services-format h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000000;
  }
  
  .services-format p {
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    max-width: 300px;
  }
  
  .services-readmore {
    display: flex;
    color: #000000;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }
  
  .services-format:hover {
    border: 1px solid #000000;
    box-shadow: 0 0px 20px #000000;
    transition: transform 0.8s, box-shadow 0.4s;
    transform: scale(1.05);
    transition: 0.4s;
  }
  
  @media (max-width: 768px) {
    .services {
      margin: 50px 20px;
    }
  
    .services-title h1 {
      font-size: 28px;
      padding: 0px 10px;
    }
  
    .service-container {
      grid-template-columns: 1fr 1fr;
    }
  
    .services-format {
      padding: 30px;
    }
  
    .services-format h3 {
      font-size: 24px;
    }
  
    .services-format h2 {
      font-size: 26px;
    }
  
    .services-format p {
      font-size: 16px;
      max-width: 250px;
    }
  
    .services-readmore {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  @media (max-width: 480px) {
    .services-title h1 {
      font-size: 24px;
    }
  
    .service-container {
      grid-template-columns: 1fr;
    }
  
    .services-format {
      padding: 20px;
    }
  
    .services-format h3 {
      font-size: 22px;
    }
  
    .services-format h2 {
      font-size: 24px;
    }
  
    .services-format p {
      font-size: 14px;
      max-width: 200px;
    }
  
    .services-readmore {
      gap: 10px;
    }
  }
  
  #services {
    scroll-margin-top: 50px;
  }
  