* {
  font-size: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-title h1 {
  font-size: 50px;
  display: flex;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  justify-content: center;
  /* letter-spacing: 1px; */
  margin-top: 20px;
}

.about-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.about-left img {
  height: 350px;
  width: 250px;
}

.about-para {
  display: flex;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-para p {
  margin-right: 90px;
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 20px;
}

.about-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.about-skill {
  text-align: center;
  padding: 10px;
  background-color: #F9F9F9;
  border: #000000 1px solid;
  border-radius: 8px;
}

.about-skill p {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0;
}

.about-skill:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 6px #000000;
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-achievements {
  display: flex;
  color: #000000;
  margin-top: 30px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-around;
  margin-bottom: 80px;
}

.about-achievement {
  display: flex;
  color: #000000;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  transition: 0.3s;
}

.about-achievement:hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 8px #000000;
  transition: transform 0.8s, box-shadow 0.8s;
}

.about-achievement h1 {
  font-size: 80px;
  font-weight: 700;
  color: #000000;
}

@media (max-width: 768px) {
  .about-title h1 {
    font-size: 30px;
    margin-top: 10px;
  }

  .about-sections {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  }

  .about-left img {
    height: 350px;
    width: 280px;
    margin-top: 20px;
  }

  .about-para {
    flex-direction: column;
  }

  .about-right {
    flex-direction: column;
    gap: 15px;
  }

  .about-para p {
    margin-right: 0;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
  }

  .about-skills {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
  }

  .about-skill p {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .about-achievements {
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
  }

  .about-achievement h1 {
    font-size: 50px;
  }
}

@media (max-width: 480px) {
  .about-title h1 {
    font-size: 24px;
    margin-top: 5px;
  }

  .about-left img {
    height: 300px;
    width: 220px;
  }

  .about-para p {
    font-size: 14px;
    line-height: 20px;
  }

  .about-skills {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 8px;
  }

  .about-achievements {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .about-achievement h1 {
    font-size: 40px;
  }
}

#about {
  scroll-margin-top: 90px;
}

body {
  overflow: auto;
  background-color: #202020;
  color: #00ccff;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}
