.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #F9F9F9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 80px;
}

.navbar + * {
  margin-top: 90px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav-menu p {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-menu p::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #000000;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.nav-menu p:hover::before {
  visibility: visible;
  transform: scaleX(1.1);
}

.nav-menu p:hover {
  color: #00bfff;
}

.nav-menu p.active {
  color: #00bfff;
}

.nav-mob-open,
.nav-mob-close {
  display: none;
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    right: 0;
    background-color: #202020;
    width: 250px;
    height: 100%;
    gap: 30px;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-menu.active {
    transform: translateX(0);
  }

  .nav-mob-open,
  .nav-mob-close {
    display: block;
  }

  .navbar {
    padding: 15px 20px;
  }
}
