.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  padding: 20px; /* Adding some padding for better spacing */
}

.App-link {
  color: #61dafb;
  text-decoration: none; /* Remove default underline */
}

.App-link:hover {
  text-decoration: underline; /* Add underline on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .App-header {
    font-size: calc(12px + 2vmin); /* Increase font size a bit on smaller screens */
  }
}

@media (max-width: 480px) {
  .App-logo {
    height: 30vmin; /* Slightly reduce logo size on very small screens */
  }

  .App-header {
    font-size: calc(14px + 2vmin); /* Larger font size for mobile devices */
    padding: 10px; /* Reduce padding on mobile */
  }
}
