@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-terminal-bg text-terminal-text font-mono;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}