* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; /* Updated font */
    background-color: #202020; /* Light gray background */
    color: #00ccff; /* Dark gray text color */
}